<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <!-- 头部导入 -->
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/head.css">
    <!-- load加载css -->
    <link rel="stylesheet" href="../css/load.css">
    <!-- 注册的css样式 -->
    <link rel="stylesheet" href="../css/loading.css">
    <!-- 提示信息框 -->
    <link rel="stylesheet" href="../assetes/library/提示message/message.css">

    <script src="../assetes/library/轮播图/jquery-1.11.0.min.js"></script>
        <!-- 自己封装的axios脚本 -->
        <script src="../src/axios.js"></script>
    <!-- 注册的js -->
    <script src="../src/register.js"></script>
    <!-- 判断是否登录 -->
    <script src="../src/loginOrNot.js"></script>
</head>

<body>
    <!-- 加载遮罩层 -->
    <div class="load">
        <p>加载中...</p>
    </div>


    <!-- 头部 -->
    <header>
        <div class="center head">
            <div class="header_top">
                <div class="left">
                    <img src="../assetes/images/logo.png" alt="">
                </div>
                <div class="ipt">
                    <input type="text" placeholder="请输入想要的商品">
                    <button>搜索</button>
                </div>
            </div>
            <nav>
                <ul>
                    <li class=""><a href="./index.html">首页</a></li>
                    <li class=""><a href="./signIn.html">登录</a></li>
                    <li class="Select"><a href="./register.html">注册</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 注册 -->
    <div class="loading">
        <section>
            <form method="get" id="loadForm">
                <ul>
                    <li>
                        <label for="user">注册用户名</label>
                        <input type="text" id="user" name="username">
                    </li>
                    <li>
                        <label for="pwd">密码</label>
                        <input type="password" id="pwd" name="password">
                    </li>
                </ul>
                <input type="submit" value="注册">
            </form>
        </section>
    </div>

    <!-- 退出登录弹框 -->
    <section class="signOut">
        <div class="sec_top">
            <p>提示</p>
            <p class="close">X</p>
        </div>
        <p>是否退出登录？</p>
        <div class="sec_bottom">
            <ul>
                <li>取消</li>
                <li>确定</li>
            </ul>
        </div>
    </section>
</body>
<!-- 提示信息框 -->
<script src="../assetes/library/提示message/message.js"></script>
<!-- 判断是否登录 -->
<script src="../src/loginOrNot.js"></script>
<script>
    // 提示信息框的全局配置
    Qmsg.config({
        showClose: false,
        timeout: 1000
    })
</script>

</html>